# Diretórios de build
/dist/
/build/

# Arquivos de especificação
*.spec

# Arquivos de dados gerados
data/resultado.pdf
data/extrato.pdf
data/historico.pkl

# Arquivos PDF gerados
*.pdf

# Diretório de testes
.test/


# Arquivos do Python
src/__pycache__/
*.py[cod]
*.pyo
*.pyd
